@media (max-width: 375px) {
    
    .nav-list  {
        background-color: #00223E;
        opacity: 0,5;
        width: 100%;
        height: calc(100vh - 100px);
        position: absolute;
        top: 20px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display:none;
        z-index: 2;
        
    }

    .menu i {
        margin-right: 5px;
        display:block;
        z-index: 2;
    }

  #barmenu:checked~ .nav-list{
    display: flex;
  }
  .intro{
    z-index: 1;
    flex-direction: vertical;
  }
  .heroimg{
    margin-top: 80px;
    width: 10%;
  }
.slogan h2{
    font-size: 24px;
}
.slogan p{
    font-size: 20px;
    font-weight: 150;
}
#reserva{
    font-size: 15px;
    margin: 0%;
}
#carta{
    font-size: 15px;
    margin: 0%;
}
.texto h3{
    font-size: 15px;
}
.slogan h2{
  padding-top: 0%;
  font-size: 14px;
}
.datos{
  flex-direction: column;
}
.mapa{
  width:"50px";
  height:"75px";
  justify-content: center;
  padding-left: 50px;
}
.imgcontacto{
align-items:center;
margin-right: 80px;
}
#enviar{
  font-size: 12px;
  color: #00223E;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
}
  }

  @media (max-width: 768px) {

    .nav-list  {
      background-color: #00223E;
      width: 100%;
      height: calc(100vh - 100px);
      position: absolute;
      top: 20px;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display:none;
      z-index: 2;
      
  }

  .menu i {
      margin-right: 5px;
      display:block;
      z-index: 2;
  }

#barmenu:checked~ .nav-list{
  display: flex;
}
.intro{
  z-index: 1;
  flex-direction: vertical;
}
.heroimg{
  margin-top: 10px;
  width: 30%;
}
.slogan{
  margin: 0%;
} 

h2{
  position: left; 
  border-radius: 10px;
  font-size: 12px;
}
.slogan p{
  font-size: 20px;
  font-weight: 150;
}
#reservar{
  font-size: 10px;
  margin: 0%;
}
#carta{
  font-size: 15px;
  margin: 0%;
}
.texto h3{
  font-size: 15px;
}
  
    #reserva,
    #carta {
      font-size: 15px;
      margin: 5px;
    }
  
    .texto {
      padding: 20px;
    }
  
    .ventajas {
      padding: 0;
    }
  
    .img {
      width: 30%;
      height: auto;
      margin: 10px 0;
      margin-right: 0;
      border-radius: 0;
    }
  
    .descripcion{
      display: flex;
      justify-content: space-between;
  }
  
    .titulo {
      font-size: 30px;

    }
  h4{
    justify-content: space-between;
    font-size: 10px;
  }
    .mas1 {
      width: 100%;
      height: auto;
      margin: 10px 0;
      margin-right: 0;
    }
  
    .contact {
      padding: 20px;
      padding-top: 10px;
      font-size: 14px;
    }
  
    .imgcontacto {
      width: 25%;
      height: auto;
      float: right;
      padding-right: 10%;

    }
  
    .datos {
      display: flex;
      flex-wrap: wrap;
    }
    h5{
      font-size: 14px;
    }

   }
